.section--team
  padding: 200px 0

  .section__heading .heading
    max-width: 800px

  .team
    display: flex
    flex-direction: row

    .member
      &:not(:last-child)
        margin-right: 30px

      &:nth-child(2n)
        margin-top: 65px